// 自定义重置
body {
  padding: 0;
  margin: 0;
}

// 让其占据整个屏幕
html,
body,
#app {
  width: 100%;
  height: 100%;
}
// html {
//   overflow-y: hidden; //隐藏最外层浏览器滚动条
// }

// ::-webkit-scrollbar {
//   /*width: 0;宽度为0隐藏*/
//   width: 10px;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 6px;
//   height: 50px;
//   background: #42b983; //滚动条颜色
// }
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//   border-radius: 6px;
//   background: #eee; //滚动条背景色
// }
